<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 main profile">
  {{> flash}}

  <div class="row page-header">

    <h1 class="page-title">{{#if user.profile.firstName}}{{user.profile.firstName}}'s{{else}}My{{/if}} Events</h1>

  </div>

  {{#grouped_each 4 events}}
  <div class="row demo-tiles">
    {{#each this }}
    <div class="col-xs-3">
      <div class="tile">
        <h3 class="tile-title"><a href="/profile/events/{{_id}}">{{name}}</a></h3>
        {{#if host}}
        <p><span class="label label-warning">Host</span></p>
        {{else}}
        <p><span class="label label-info">Guest</span></p>
        {{/if}}
        <p>Date</p>
        <a class="btn btn-primary btn-large btn-block" href="/profile/events/{{_id}}">View Event</a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/grouped_each}}

</div> <!--cols main-->
