<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 main profile">
  {{> flash}}

  <div class="row page-header">
    <h1 class="page-title">{{event.name}} <span class="label label-warning">Host</span></h1> 
  </div>

   <div class="event-webhook">
    <h6><strong>Eventbrite Web Hook</strong></h6>
    <textarea placeholder="" class="input-xlarge" value="" disabled>{{webhookHost}}{{event.webhookUrl}}</textarea>
  </div>

  <div class="event-details">
    <h3>Details</h3>
    <p><span class="fui-calendar"></span> June 8, 2015 at 7:30pm</p>
    <p><span class="fui-location"></span> The Inn Opryland<br/>2401 Music Valley Dr<br/>Nashville, TN 37214 </p>
  </div>

  <div class="event-attendees">
    <h3>Who's Coming</h3>
    <ul>
      {{#each attendees}}
      <li><img src="{{this.profile.picture}}" class="profile-pic" alt="{{this.profile.displayName}} | Pizzafy" data-toggle="tooltip" data-placement="top" title="{{this.profile.firstName}}" /> </li>
      {{/each}}
    </ul>
  </div>

{{> recommendation}}

</div> <!--cols main-->
